* {
    margin        : 0;
    padding       : 0;
    box-sizing    : border-box;
}
html {
    font-family   : 'Raleway', sans-serif;
    font-size: 10px;
}

:root {
/* variables de color */
    --beauBlue    : #D0E5F2;
    --emerald     : #49BF66;
    --grannyApple :#8FD99A;
    --ming        : #18616A;
    --salmon      :#F2786D;

/* variables de tamaño de letra */
    --h1          : 3.6rem;
    --h2          : 2.8rem;
    --h3          : 2.4rem;
    --parrafo     : 2rem;
    --parrafoPeque: 1.6rem;
}
/* Estructura de las secciones */
.background-section {
    width: 100%;
}

.section-body {
    max-width: 130rem;
    height: auto;
    margin: auto;
}