.menu{
    max-width: 41.4rem;
    height: 6.7rem;
    background-color: var(--beauBlue);
    margin: auto;
    border-radius: 30px 30px 0px 0px;
    align-self: flex-end;

    display: flex;
    justify-content: space-around;

    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

.cajaMenu{
    width: 9.5rem;
    height: 6.7rem;
    padding-top: 1.3rem; 
    padding-bottom: 1rem; 

    display: flex;
    flex-direction: column;
    align-items: center;
}
.cajaMenu img{
    padding-left: 0.7rem;
}
.cajaMenu a{
    list-style: none;
    text-decoration: none;
    border: none;
    font-size: var(--parrafoPeque);
    color: var(--ming);
}

.menu2{
    max-width: 41.4rem;
    height: 6.7rem;
    background-color: #ffffff;
    margin: auto;
    border-radius: 30px 30px 0px 0px;
    align-self: flex-end;

    display: flex;
    justify-content: space-around;

    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}
.cajaMenu:hover{
    border-radius: 30px 30px 0px 0px;
    background-color: var(--salmon);
}