section{
    max-width: 37.5rem;
    margin: auto;
}
.caja-banner{
    width: 37.5rem;
    height: 75.9rem;
    background-image: url(../img/imgHome/banner.jpg);
    background-size: cover;

    position: relative;
}
.caja-banner-textos{
    width: 28rem;

    position: absolute;
    top: 43.9rem;
    left: 3.6rem;
}
.title-banner{
    color: white;
    font-size: var(--h1);
}
.title2-banner{
    color: rgb(255, 255, 255);
    font-size: var(--parrafo);
}
.button-banner{
    width: 13.3rem;
    height: 3.5rem;
    margin-top: 3rem;
    font-size: var(--parrafo);

    background-color: var(--salmon);
    border-radius: 4rem;
    border: white;
    color: white;
}

/*seccion noticias*/
.caja-noticias{
    width: 100%;
    height: 115rem;
    background-color: #F6F6F6;
}
.caja-noticias-titulo{
    font-size: var(--h2);
    color: var(--ming);
    padding-top: 5.9rem;
    padding-left: 3.6rem;
    padding-bottom: 1.7rem;
}
.caja-noticias-noticias{
    width: 100%;
    height: 9.5rem;
    background: #F6F6F6;
    box-shadow: 0px 4px 8px -1px rgba(99, 97, 97, 0.25);
}
.noticias-grupo-descripcion{
    width: 20.1rem;
    height: 34.5rem;
    margin-top: 7.9rem;
    border-radius: 0px 10px 10px 0px;
    background-image: url(../img/imgHome/banner2.jpg);
    background-size: cover;

    position: relative;
}
.noticias-descripcion{
    width: 27rem;
    height: 20rem;
    background-color: var(--ming);
    border-radius: 1rem;
    padding: 3.1rem 1.942rem 0rem 2.045rem;

    position: absolute;
    left: 9.5rem;
    top: 12.4rem;
}
.noticias-descripcion-titulo{
    font-size: var(--h3);
    color: #ffffff;
}
.noticias-descripcion-parrafo{
    font-size: var(--parrafoPeque);
    color: #ffffff;
    margin-top: 1rem;
    line-height: 1.9rem;
}
.caja-informacion-salud{
    width: 28.3rem;
    height: 16.5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    margin-top: 8.2rem;
    margin-left: 3.6rem;
    padding: 2.8rem 1.89rem 3rem 2.5rem;

    position: relative;
}
.caja-informacion-titulo1{
    font-size: var(--h2);
}
.caja-informacion-parrafo1{
    font-size: var(--parrafoPeque);
    margin-top: 0.8rem;
}
.caja-informacion-covid{
    width: 28.3rem;
    height: 16.5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    margin-top: 4.1rem;
    margin-left: 5.6rem;
    padding: 2.5rem 1.868rem 9.4rem 1.6rem;

    position: relative;
}
.caja-informacion-titulo2{
    font-size: var(--h2);
    text-align: right;
}
.caja-informacion-parrafo2{
    font-size: var(--parrafoPeque);
    margin-top: 0.8rem;
    text-align: right;
}
.caja-informacion-boton1{
    width: 6rem;
    height: 6rem;
    background-color: var(--salmon);
    border-radius: 100%;
    border: none;
    padding: 1.5rem;

    position: absolute;
    left: 24.3rem;
    top: 13.5rem;
}
.caja-informacion-boton2{
    width: 6rem;
    height: 6rem;
    background-color: var(--salmon);
    border-radius: 100%;
    border: none;
    padding: 1.5rem;

    position: absolute;
    top: 13.5rem;
    right: 24.3rem;
}

/*seccion especialidades*/
.caja-especialidades{
    width: 100%;
    height: 77rem;
    background-color: var(--grannyApple); 
    overflow-x: hidden; 

    position: relative;
}
.caja-especialidades-titulo{
    font-size: var(--h1);
    color: var(--ming);
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
}
.caja-imagen-biologicas{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    margin-left: -2rem;
    background-image: url(../img/imgHome/biologicas.jpg);
    background-size: cover;
}
.caja-texto-biologicas{
    width: 20rem;
    height: auto;

    position: absolute;
    left: 14.9rem;
    top: 14rem;
}
.caja-texto-biologicas-titulo{
    font-size: var(--h2);
    color: var(--ming);
}
.caja-texto-biologicas-parrafo{
    font-size: var(--parrafoPeque);
    color: #21572f;
}
.caja-imagen-design{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    margin-left: 25rem;
    margin-top: 5rem;
    background-image: url(../img/imgHome/designe.jpg);
    background-size: cover;    
}
.caja-texto-design{
    width: 19rem;
    height: auto;

    position: absolute;
    left: 4.4rem;
    top: 34.5rem;
}
.caja-texto-design-titulo{
    font-size: var(--h2);
    color: var(--ming);
    text-align: right;
}
.caja-texto-design-parrafo{
    font-size: var(--parrafoPeque);
    color: #21572f;
    text-align: right;
}
.caja-imagen-progra{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    margin-left: -2rem;
    margin-top: 5rem;
    background-image: url(../img/imgHome/computer.jpg);
    background-size: cover;
}
.caja-texto-progra{
    width: 19rem;
    height: auto;

    position: absolute;
    left: 14.9rem;
    top: 54.5rem;
}
.boton-especialidades{
    width: 15rem;
    height: 5.5rem;
    background-color: var(--emerald);
    color: #ffffff;
    font-size: var(--parrafo);
    border: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 3.5rem;
    margin-left: 11.3rem;
}

/*sección verificación de información*/
.caja-info-veridica{
    width: 100%;
    height: 47.5rem;
    background-color: #F6F6F6;
}
.caja-info-veridica-titulo{
    text-align: center;
    font-size: var(--h3);
    padding: 10.5rem 3.2rem 5rem 4rem;
}
.caja-info-veridica-parrafo{
    text-align: center;
    font-size: var(--parrafo);
    padding: 0rem 3.2rem 0rem 4rem;
}