section{
    max-width: 37.5rem;
    margin: auto;
}

.caja-titulo-azul{
    position: relative;
    width: 37.5rem;
    height: 11.2em;
    background: #D0E5F2;
    border-radius: 0px 0px 20px 20px;
  
}
.caja-informacion-titulo{
    font-size: var(--h2);
    color: var(--ming);
    text-align: center;
    padding-top: 4.2rem;
}
.caja-informacion-IMC{
    width: 37.5rem;
    height: 65.5rem;
    background-color: var(--ming);  
}
.caja-informacion-pregunta{
    width: 29.9rem;
    font-size: var(--h2);
    color: white;
    padding-top: 4.4rem;
    padding-left: 11rem;
}
.caja-informacion-texto{
    font-size: var(--parrafoPeque);
    color: white;
    width: 15.4rem;
    height: 31.5rem;
    margin-top: 5.3rem;
    margin-left: 3.6rem;                                          

    position: absolute;
}    
.caja-imagen{
    background-image: url(../img/imgHome/imgImportancia.jpg);
    background-position: center;
    width: 17rem;
    height: 34.6rem;
    margin-top: 3.2rem;
    border-radius: 10px 0px 0px 10px;
    margin-left: 20.48rem;
   
    background-size: cover;

    position: absolute;
}
.caja-informacion-test{
    width: 100%;
    height: 15rem;
    background-color: #F6F6F6; 
    position: absolute; 
}
.caja-informacion-titulo-test{
    font-size: var(--h3);
    text-align: center;
    padding-top: 6.9rem;
}
.caja-informacion-subtitulo{
    width: 35rem;
    font-size: var(--parrafoPeque);
    padding-left: 3.9rem;
    text-align: center;
    padding-top: 0.2rem;
}
.caja-inicio-test{
    width: 100%;
    height:  100rem;
    background-color: #F6F6F6; 
}
.caja-titulo-imc{
    font-size: var(--h2);
    padding-top: 6rem;
    padding-left: 3.6rem;
}
.caja-texto-imc{
    padding-top: 1rem;
    font-size: var(--parrafoPeque);
    padding-left: 3.6rem;
    width: 33.6rem;
}
.caja-boton-imc{
    width: 15rem;
    height: 4rem;
    font-size: var(--parrafo);
    color: white;
    margin-left: 19rem;
    background-color: var(--salmon);
    border: none;
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.25);
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}