.caja-sintomas{
    background-color: #F6F6F6;
    width: 100%;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 10rem;
}
.nav {
    width: 30.3rem;
    height: 5.5rem;
    padding: 0.5rem;
    border: 1px solid #F2786D;
    margin: auto;
    border-radius: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav p{
    color: black; 
    font-size: var(--parrafoPeque);
    text-align: center;
    padding-top: 1.2rem;
}
.nav a{
    width: 9.5rem;
    text-decoration: none;
}
.nav p:hover{
    height: 4.5rem;
    color: white;
    background-color: var(--salmon);
    border-radius: 1.7rem;
}
/*seccion*/
.introduccion{
    font-size: var(--parrafoPeque);
    width: 30.3rem;
    padding-top: 3.9rem;
    margin-left: 3.6rem;
    text-align: left;
}
.caja-Opciones-efectos{
    width: 35rem;
    height: auto;
    margin-top: 3rem;
    margin-left: 1.2rem;
    background-color: white;

    box-shadow: 0px 1px 8px -1px rgba(112, 107, 107, 0.25);
    border-radius: 1rem;
    padding: 1.6rem 0rem 1.5rem 2.3rem;
    position: relative;
}
/*Contenidos*/
.contenido{
    width: 30rem;
    height: 10rem;
    margin-top: 4rem;
    margin-left: 0.8rem;
}
.contenido{
    display: none;    
}
.contenido{
    font-size: var(--parrafoPeque);
    color: #797979;
}
.activarContenido{
    display: block;
    transition: 0.3s;
}
/**********************************/
.caja-fondo{
    width: 5.7rem;
    height: 5.7rem;
   
    background-color: rgba(24, 97, 106, 0.05);
    border: 1px solid #18616a;
    border-radius: 100%;
    position: absolute;
}
.caja-fondo img{
    width: 4rem;
    margin: 0.8rem;
}
.texto-efecto{
    font-size: var(--parrafoPeque);
    color: var(--ming);
    margin-left: 7rem;
    margin-top: 1.8rem;
    font-weight: 500;
    position: absolute;
}
.boton{
    background-color: white;
    
    border: none;
    margin-left: 27rem;
    margin-top: 2.5rem;
    cursor: pointer;
}
.boton2{
    background-color: white;
    
    border: none;
    margin-left: 27rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.ico2{
    transform: rotate(180deg);
    display: none;
    cursor: pointer;
}
/* ---------------- */
.aparecer{
    display: block;
}
.ocultar{
    display: none;
}