section{
    max-width: 37.5rem;
    margin: auto;
}
.caja-sintomas{
    background-color: #F6F6F6;
    width: 100%;
    height: 200rem;
    padding-top: 4rem;
}
.nav {
    width: 30.3rem;
    height: 5.5rem;
    padding: 0.5rem;
    border: 1px solid #F2786D;
    margin: auto;
    border-radius: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav p{
    color: black; 
    font-size: var(--parrafoPeque);
    text-align: center;
    padding-top: 1.2rem;
}
.nav a{
    width: 9.5rem;
    text-decoration: none;

}
.nav p:hover{
    height: 4.5rem;
    color: white;
    background-color: var(--salmon);
    border-radius: 1.7rem;
}
/*seccion*/
.introduccion{
    font-size: var(--parrafoPeque);
    width: 30.3rem;
    padding-top: 3.9rem;
    margin-left: 3.6rem;
    text-align: left;
}
.caja-Opciones-efectos{
    width: 35rem;
    height: 9rem;
    margin-top: 3rem;
    margin-left: 1.2rem;
    background-color: white;

    box-shadow: 0px 1px 8px -1px rgba(112, 107, 107, 0.25);
    border-radius: 1rem;
    padding: 16px 0px 17px 23px;
    position: relative;
}
.caja-fondo{
    width: 5.7rem;
    height: 5.7rem;
   
    background-color: rgba(24, 97, 106, 0.05);
    border: 1px solid #18616a;
    border-radius: 100%;
    position: absolute;
}
.caja-fondo img{
    width: 4rem;
    margin: 0.8rem;
}
.texto-efecto{
    font-size: var(--parrafoPeque);
    color: var(--ming);
    margin-left: 7rem;
    margin-top: 2rem;
    font-weight: 500;
    position: absolute;
}
.boton{
    background-color: white;
    
    border: none;
    margin-left: 27rem;
    margin-top: 2.5rem;
}
