section{
    max-width: 37.5rem;
    margin: auto;
}
.caja-test-imc{
    background-color: var(--beauBlue);
    width: 100%;
    height: 75rem;
    
}
.test-titulo{
    font-size: var(--h2);
    color: #18616A;
    text-align: center;
    padding-top: 3rem;
}
.caja-test-titulo{
    width: 30.3rem;
    height: 33.6rem;
    border-radius: 1rem;
    background-color: white;
    margin: auto;
    margin-top: 5.8rem;
    box-shadow: 0px 3px 5px rgba(40,40,40 0.25);
    display: none;
}
.caja-test-subtitulo{
    font-size: var(--h3);
    width: 25rem;
    padding-top: 2rem;
    margin-left: 2.6rem;
    text-align: left;
    color: black;
}
.caja-test-frase{
    font-size: var(--parrafoPeque);
    width: 25.8rem;
    color: black;
    text-align: left;
    margin-left: 2.3rem;
    padding-top: 1.3rem;
}
.test-formulario-peso{
    width: 25.7rem;
    height: 3.5rem;
    border-radius: 2rem;
    background-color: #f6f6f6;
    margin-top: 1.5rem;
    margin-left: 2rem;
    padding-left: 1.9rem;
    border: none;
}
.boton-test-listo{
    width: 30.3rem;
    height: 4.6rem;
    margin-top: 5rem;
    background-color: var(--ming);
    border: none;
    border-radius: 0px 0px 10px 10px;
    font-size: var(--parrafo);
    color: white;
    cursor: pointer;

}
.caja-test-respuesta{
    width: 30.3rem;
    height: 48rem;
    border-radius: 1rem;
    background-color: white;
    margin: auto;
    margin-top: 5.8rem;
    box-shadow: 0px 3px 5px rgba(40,40,40 0.25);
    display: none;
}
.resultado-titulo{
    font-size: var(--h3);
    padding-top: 2.9rem;
    text-align: center;
}
.resultado-frase{
    font-size: var(--parrafoPeque);
    text-align: center;
    padding-top: 1.5rem;
}
.resultado-respuesta{
    width: 26.1rem;
    height: 21.7rem;
    margin-left: 2.1rem;
    margin-top: 3.1rem;
    background-color: #f6f6f6;
    border:none;
    border-radius: 2rem;
    padding: 1.5rem;
}
.resultado-respuesta img{
    margin-top: 1rem;
    width: 5rem;
}
.respuesta{
    font-size: var(--parrafo);
    width: 25.8rem;
    color: black;
    text-align: center;
    margin-left: 2.3rem;
    padding-top: 1.3rem;
}
.resultado-frase-final{
    font-size: var(--parrafoPeque);
    text-align: center;
    margin-top: 2.5rem;
}
.activar{
    display: block;
}