section{
    max-width: 37.5rem;
    margin: auto;
}
.caja-sintomas{
    background-color: #F6F6F6;
    width: 100%;
    height: 201rem;
    padding-top: 4rem;
}
.nav {
    width: 30.3rem;
    height: 5.5rem;
    padding: 0.5rem;
    border: 1px solid #F2786D;
    margin: auto;
    border-radius: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav p{
    color: black; 
    font-size: var(--parrafoPeque);
    text-align: center;
    padding-top: 1.2rem;
}
.nav a{
    width: 9.5rem;
    text-decoration: none;

}
.nav p:hover{
    height: 4.5rem;
    color: white;
    background-color: var(--salmon);
    border-radius: 1.7rem;
}
.parrafo-intro{
    font-size: var(--parrafoPeque);
    width: 26.5rem;
    text-align: center;
    margin: auto;
    margin-top: 6.4rem;
}

.titulo-instrucciones{
    width: 30.7rem;
    font-size: var(--h3);
    text-align: left;
    margin-top: 5.5rem;
    margin-left: 6rem;
}
.caja-general-sintomas{
    width: 100%;
    height: auto;
}
.caja-opciones-sintomas{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 1.6rem;

    display: flex;
    justify-content: space-evenly;
}
.opcion{
    background-color: #FFFFFF;
    width: 14rem;
    height: 14rem;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    border: 3px solid #18616a;
    margin-top: 3.4rem;
}
.cajaopcion{
    width: 9rem;
    height: 9rem;
    margin: 2.3rem;
    border: 1px solid #18616a;
    background-color: rgba(24, 97, 106, 0.05);
    border-radius: 100%;
    padding: 1rem;
}
.cajaopcion img{
    width: 7rem;
    margin: auto;   
}
.sintoma-nombre{
    font-size: var(--parrafoPeque);
    color: #18616a;
    padding-top: 0.7rem;
    text-align: center;
}
.botonContinuar{
    width: 25rem;
    height: 5rem;
    margin-left: 6rem;
    margin-top: 8rem;
    background-color: #D0E5F2;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border: none;

    font-size: var(--parrafo);
    color: var(--ming);
    text-align: center;
    cursor: pointer;
}
.subtitulo{
    width: 30.3rem;
    height: 7rem;
    margin: auto;
    margin-top: 8rem;
    background-color: #D0E5F2;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}
.subtitulo p{
    font-size: var(--parrafoPeque);
    width: 23.7rem;
    color: var(--ming);
    text-align: center;
    margin: auto;
    padding-top: 1.5rem;
}
.probabilidad{
    width: 18.5rem;
    height: 18.5rem;
    margin: auto;
    margin-top: 2.9rem;
    background-color: var(--ming);
    border-radius: 100%;
    
}
.probabilidad-respuesta{
    width: 12rem;
    font-size: var(--parrafoPeque);
    margin: auto;
    padding-top: 0.8rem;
    text-align: center;
}
.caja-general-sintomas, .respuesta{
    display: none;
}
.activar{
    display: block;
}