.caja-sintomas{
    background-color: #F6F6F6;
    width: 100%;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 10rem;
}
.nav {
    width: 30.3rem;
    height: 5.5rem;
    padding: 0.5rem;
    border: 1px solid #F2786D;
    margin: auto;
    border-radius: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav p{
    color: black; 
    font-size: var(--parrafoPeque);
    text-align: center;
    padding-top: 1.2rem;
}
.nav a{
    width: 9.5rem;
    text-decoration: none;

}
.nav p:hover{
    height: 4.5rem;
    color: white;
    background-color: var(--salmon);
    border-radius: 1.7rem;
}
.parrafo-intro{
    font-size: var(--parrafoPeque);
    width: 26.5rem;
    text-align: center;
    margin: auto;
    margin-top: 6.4rem;
}

.titulo-instrucciones{
    width: 30.7rem;
    font-size: var(--h3);
    text-align: left;
    margin-top: 5.5rem;
    margin-left: 6rem;
}
.caja-general-sintomas{
    width: 100%;
    height: auto;
    margin-top: 5rem;

    display: none;
}
.caja-opciones-sintomas{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 1.6rem;

    display: flex;
    justify-content: space-evenly;
}
.checkeable-texto{
    font-size: var(--parrafoPeque);
    color: #18616a;
    text-align: center;
    margin-top: 0.7rem;
}
input[type=checkbox]{
    display: none;
}
.checkeable img{
    width: 14rem;
    height: 14rem;
    padding: 3rem;
    border: 5px solid var(--ming);
    background-color: #ffffff;
    border-radius: 1rem;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
}
.checkeable input {
    display: none;
}
.checkeable input:checked +img{
    border-color: var(--grannyApple);
}
.botonCalcular{
    width: 25rem;
    height: 5rem;
    margin-left: 6rem;
    margin-top: 2.5rem;
    background-color: var(--beauBlue);
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);

    font-size: var(--parrafo);
    color: var(--ming);
    cursor: pointer;
}
.respuesta{
    width: 100%;
    height: auto;

    display: none;
}
.subtitulo{
    width: 30.3rem;
    height: 7rem;
    margin: auto;
    margin-top: 8rem;
    background-color: #D0E5F2;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;

}
.subtitulo p{
    font-size: var(--parrafoPeque);
    width: 23.7rem;
    color: var(--ming);
    text-align: center;
    margin: auto;
    padding-top: 1.5rem;
}
.probabilidad{
    width: 18.5rem;
    height: 18.5rem;
    margin: auto;
    margin-top: 2.9rem;
    background-color: var(--ming);
    border-radius: 100%;
    
}
.probabilidad-respuesta{
    width: 12rem;
    font-size: var(--parrafoPeque);
    margin: auto;
    padding-top: 0.8rem;
    text-align: center;
}
.activar{
    display: block;
}
