.caja-sintomas1{
    background-color: #F6F6F6;
    width: 100%;
    height: 322rem;
    padding-top: 4rem;
}
.pregunta{
    font-size: var(--h3);
    margin-top: 4.8rem;
    margin-left: 6.3rem;
}
.respuesta{
    width: 30.3rem;
    font-size: var(--parrafoPeque);
    margin-top: 4rem;
    margin-left: 3.6rem;
    text-align: center;
}
.pregunta2{
    width: 31.8rem;
    font-size: var(--h3);
    margin-top: 6.5rem;
    margin-left: 2.9rem;
    text-align: center;
}
.caja-imagen{
    width: 37.5rem;
    height: 20rem;
    background-image: url(../img/imgVariantes/alpha.png);
    margin: auto;
    margin-top: 6.3rem;
}
.variantes-nombres{
    font-size: var(--h3);
    padding-top: 3.6rem;
    margin-left: 3.8rem;
    color: white;
}
.variantes-info{
    width: 30.3rem;
    font-size: var(--parrafoPeque);
    color: white;
    padding-top: 0.8rem;
    text-align: left;
    margin-left: 3.6rem;
}
.caja-imagen2{
    width: 37.5rem;
    height: 20rem;
    background-image: url(../img/imgVariantes/beta.png);
    margin: auto;
    margin-top: 3.6rem;
}
.caja-imagen3{
    width: 37.5rem;
    height: 20rem;
    background-image: url(../img/imgVariantes/gamma.png);
    margin: auto;
    margin-top: 3.6rem;
}
.caja-imagen4{
    width: 37.5rem;
    height: 20rem;
    background-image: url(../img/imgVariantes/épsilon.png);
    margin: auto;
    margin-top: 3.6rem;
}

.caja-imagen5{
    width: 37.5rem;
    height: 20rem;
    background-image: url(../img/imgVariantes/eta.png);
    margin: auto;
    margin-top: 3.6rem;
}

.caja-imagen6{
    width: 37.5rem;
    height: 20rem;
    background-image: url(../img/imgVariantes/lota.png);
    margin: auto;
    margin-top: 3.6rem;
}

.caja-imagen7{
    width: 37.5rem;
    height: 20rem;
    background-image: url(../img/imgVariantes/kappa.png);
    margin: auto;
    margin-top: 3.6rem;
}
.caja-imagen8{
    width: 37.5rem;
    height: 20rem;
    background-image: url(../img/imgVariantes/lambda.png);
    margin: auto;
    margin-top: 3.6rem;
}
.caja-imagen9{
    width: 37.5rem;
    height: 20rem;
    background-image: url(../img/imgVariantes/theta.png);
    margin: auto;
    margin-top: 3.6rem;
}
.caja-imagen10{
    width: 37.5rem;
    height: 20rem;
    background-image: url(../img/imgVariantes/zeta.png);
    margin: auto;
    margin-top: 3.6rem;
}
.caja-imagen11{
    width: 37.5rem;
    height: 20rem;
    background-image: url(../img/imgVariantes/Mu.png);
    margin: auto;
    margin-top: 3.6rem;
}